<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2_Chapter - Flask</title>
</head>

<body>
    <h2>Flask Chapter 2</h2>    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    <div class="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>

        <p>Hi, my name is {{display_name}}!</p>
    </div>
</body>
</html>